<?xml version="1.0"?>
<launch>

  <!-- Carrega a camera  -->
  <include file="$(find raspicam_node)/launch/camerav2_1280x960.launch" />
  <node name="rviz_show_ldlidar" pkg="rviz" type="rviz" args="-d $(find roomba_robot)/config/cam.rviz" required="true"/>

  <!-- Carrega o driver  -->
  <include file="$(find create_bringup)/launch/create_2.launch" /> 

  <!-- Carrega o joystick  -->
  <include file="$(find create_bringup)/launch/joy_teleop.launch" /> 

</launch>
